
.card {
    padding: 2em;
}

.CharacterCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: left;
    gap: 0.25em;
}

.CharacterCard {
    min-width: 500px;
    margin-bottom: 2em;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 8px;

    display: flex;
    flex-wrap: wrap;
    flex-basis: 45%;
    flex-grow: 1;
}

.CharacterInfo {
    display: flex;
    flex-wrap: wrap;
}

.CharacterInfo h1, p {
    margin: 5px 0;
}

.CharacterName {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.CharacterCardImage {
    height: 12em;
    width: 12em;
    margin: 1em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.CharacterCardImage img {
    height: 10em;
}

.CharacterWeapon {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.CharacterWeapon img {
    height: 5em;
}

.CharacterEquipmentContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0.5em;
}

.CharacterEquipment {
    display: flex;
    gap: 1em;
    flex-basis: 30%;
    flex-grow: 1;
}

.CharacterEquipmentImage img {
    height: 5em;
    flex-grow: 1;
    /*animation: spin 4s linear infinite;*/
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.CharacterEquipmentStats {
    flex-grow: 2;
}

@keyframes rgb {
    0%, 100% {
        color: red;
    }
    14.3% {
        color: orange;
    }
    28.6% {
        color: yellow;
    }
    42.8% {
        color: green;
    }
    57.1% {
        color: blue;
    }
    71.4% {
        color: indigo;
    }
    85.7% {
        color: violet;
    }
}

.rgb {
    animation-name: rgb;
    animation-duration: 9000ms;
    animation-timing-function: linear;
    animation-delay: 0ms;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}