.AppMainBody {
    text-align: center;
    display: flex;
    flex-direction: column;
    place-items: center;

    color: white;
    font-weight: bold;
    text-shadow:
        -2px -2px 0 #000, /* Top-left */
        2px -2px 0 #000, /* Top-right */
        -2px  2px 0 #000, /* Bottom-left */
        2px  2px 0 #000; /* Bottom-right */
}

/* Menu/Tabs/Header */

.tabContainer {
    width: 100%;
    margin-bottom: 50px;

    list-style: none;

    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.tabContainer li {
    width: 20%;
    padding: 1em;
    border-radius: 10px;
    /*background-color: darkgray;*/
    cursor: pointer;
}

.tabContainer li.active {
    color: #fff;
    font-weight: 600;
    text-decoration: underline;
}

.tabContainer li.disabled {
    color: #787878;
    cursor: not-allowed;
}

/* Body Elements */

.card {
    width: 95%;
    padding: 1em;
    margin: 1em;
    background-color: darkgray;
    border-radius: 10px;
}

/* Gallery Page */

.shadowBox {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.shadowBoxImgContainer {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.shadowBoxContent {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    cursor: grab;
}

.shadowBoxClose {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1em;
    width: 1em;
    padding: 0.5em;
    z-index: 2;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    text-shadow: none;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 70%);
}

.shadowBoxClose:hover,
.shadowBoxClose:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.galleryContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.galleryImg {
    width: 12em;
    margin: 1em;
}

.galleryImg:hover {
    opacity: 0.7;
    cursor: zoom-in;
}

/* Footer */

.socialsList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.social-anchor {
    padding: 1em;
    border-radius: 50%;
    border: 1px solid white;
    height: 3em;
    width: 3em;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social-icon {
    color: white;
    max-width: 32px;
}

.social-icon-image {
    max-width: 32px;
    filter: invert(100%) saturate(0%) brightness(200%) contrast(200%);
}