.AppMainBody {
    text-align: center;
    display: flex;
    flex-direction: column;
    place-items: center;
}

/* Menu/Tabs/Header */

.tabContainer {
    width: 100%;
    margin-bottom: 50px;

    list-style: none;

    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.tabContainer li {
    width: 20%;
    padding: 1em;
    border-radius: 10px;
    /*background-color: darkgray;*/
    cursor: pointer;
}

.tabContainer li.active {
    color: #fff;
    font-weight: 600;
    text-decoration: underline;
}

.tabContainer li.disabled {
    color: #787878;
    cursor: not-allowed;
}

/* Body Elements */

.card {
    width: 100%;
    padding: 2em;
    margin: 1em;
    background-color: darkgray;
    border-radius: 10px;
}

/* Gallery Page */

.galleryContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.galleryImg {
    width: 12em;
    margin: 1em;
}

/* Footer */

.socialsList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.social-anchor {
    padding: 1em;
    border-radius: 50%;
    border: 1px solid white;
    height: 3em;
    width: 3em;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social-icon {
    color: white;
    max-width: 32px;
}

.social-icon-image {
    max-width: 32px;
    filter: invert(100%) saturate(0%) brightness(200%) contrast(200%);
}